.container {
    width: 100%;
    max-width: 1140px;
}

@media screen and (max-width: 576px) {
    .row {
        flex-direction: column;
        gap: 50px;
    }

    .row .col {
        width: 100%;
    }

    section:not(:first-child) {
        margin-bottom: 0;
    }

    .why-us {
        background-color: #222;
        padding: 3em 0;
    }
}